@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

body {
    background-color: #f5e9ff;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.global-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "header header"
    "form books";
    gap: 2rem;
    padding: 5rem 3rem 1rem 5rem;
}


.header {
    grid-area: header;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: baseline;
    gap: 1rem;
}
.header h1 {
    font-family: 'DM Serif Display', serif, system-ui, "Segoe UI", Roboto, Helvetica, Arial;
    font-size: 5rem;
    font-weight: normal;
    padding: 0;
    margin: 0;
    color: #3639e6;
}
iconify-icon {
    font-size: 5rem;
    color: #3639e6;
}


.form-container {
    grid-area: form;
}
form#book-form {
    display: grid;
    gap: 1rem;
    padding: 3.5rem 2rem;
    background: #5457ff;
    border-radius: 15px;
    min-width: 250px;
    max-width: 350px;
    color: #fff;
}
#book-form label:not(fieldset label), legend {
    font-size: 1.25rem;
    font-weight: 600;
    letter-spacing: 1px;
}
#book-form input[type="text"] {
    border-radius: 15px;
    padding: 0.5rem 0.75rem;
    border: 1px solid #333;
    font-size: 1rem;
}
#book-form fieldset {
    border-color: #fff;
}


.btn-container button, button#btn-submit {
    padding: 0.5rem 0.75rem;
    border-radius: 15px;
    font-size: 1rem;
    letter-spacing: 1px;
    margin-top: 1.5rem;
    cursor: pointer;
}
button#btn-submit {
    background-color: inherit;
    color: #fff;
    border: 2px solid #fff;
}
button#btn-submit:hover {
    color: #3639e6;
    background-color: #fff;
}
.btn-container button {
    background-color: inherit;
    color: #3639e6;
    border: 2px solid #3639e6;
}
.btn-container button:hover  {
    color: #fff;
    background-color: #3639e6;
}


.book-display {
    grid-area: books;
    display: grid;
    gap: 1rem;
    justify-content: start;
    grid-template-columns: repeat(auto-fit, minmax(350px, 500px));
}
.card {
    background: #6fe4b8;
    border-radius: 15px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    border: 2px solid #6fe4b8;
    max-height: 275px;
}
.card.unread {
    background: inherit;
    border-radius: 15px;
    border: 2px solid #3639e6;
}
.card .title {
	font-size: 2.25rem;
	font-weight: 900;
	letter-spacing: 2px;
	font-family: 'DM Serif Display', serif, system-ui, "Segoe UI", Roboto, Helvetica, Arial;
	line-height: 2.5rem;
}
.author {
    font-size: 1.5rem;
    font-style: italic;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
}
.pages::before, .status::before {
    font-size: 1.25rem;
    font-weight: 600;
    margin-right: 1rem;
    letter-spacing: 1px;
}
.pages::before {
    content: "Pages: ";
}
.status::before {
    content: "Already read?";
}
.status, .pages {
    font-size: 1.15rem;
    text-transform: capitalize;
}